<p> </p>
<p> </p>
<button class="date_goto_button" ng-click="setStartDate(date)">Season Start</button>
<button class="date_button" ng-click="subDate(date)"><</button><input ng-model='date.text' size="11" input type="text"> <button class="date_button" ng-click="addDate(date)">></button>
<button class="date_goto_button" ng-click="setYesterdayDate(date)">Yesterday's Standings</button>
<p> </p>
<p> </p>
<div id="wrapper">
   <div id="main">
      <div id="left">
         <h1 align="center"><a ng-href='#/awest'>AL West</a></h1>
         <table class="names">
            <tr>
               <th>TEAM </td>
               <th>WIN </td>
               <th>LOSS </td>
               <th>PCT</td>
               <th>GB</td>
            </tr>
            <tr ng-repeat="item in items | filter:{league: 'AL'} | filter:{division: 'West' } | filter:{date: date.text} "> 
               <td>{{item.team}}</td>
               <td>{{item.wins}}</td>
               <td>{{item.losses}}</td>
               <td>{{item.pct}}</td>
               <td>{{item.GB}}</td>
            </tr>
         </table>
      </div>
      <div id="center">
         <h1 align="center"><a ng-href='#/acentral'>AL Central</a></h1>
         <table class="names">
            <tr>
               <th>TEAM </td>
               <th>WIN </td>
               <th>LOSS </td>
               <th>PCT </td>
               <th>GB </td>
            </tr>
            <tr ng-repeat="item in items | filter:{league: 'AL'} | filter:{division: 'Central' } | filter:{date: date.text} "> 
               <td>{{item.team}}</td>
               <td>{{item.wins}}</td>
               <td>{{item.losses}}</td>
               <td>{{item.pct}}</td>
               <td>{{item.GB}}</td>
            </tr>
         </table>
      </div>
      <div id="right">
         <h1 align="center"><a ng-href='#/aeast'>AL East</a></h1>
         <table class="names">
            <tr>
               <th>TEAM</td>
               <th>WIN</td>
               <th>LOSS</td>
               <th>PCT</td>
               <th>GB</td>
            </tr>
            <tr ng-repeat="item in items | filter:{league: 'AL'} | filter:{division: 'East' } | filter:{date: date.text} "> 
               <td>{{item.team}}</td>
               <td>{{item.wins}}</td>
               <td>{{item.losses}}</td>
               <td>{{item.pct}}</td>
               <td>{{item.GB}}</td>
            </tr>
         </table>
      </div>
   </div>
</div>
