<p> </p>
<p> </p>
<button class="date_goto_button" ng-click="setStartDate(dateA)">Season Start</button>
<button class="date_button" ng-click="subDate(dateA)"><</button>
<input ng-model='dateA.text' size="11" input type="text"> 
<button class="date_button" ng-click="addDate(dateA)">></button>
<button class="date_goto_button" ng-click="setYesterdayDate(dateA)">Yesterday's Standings</button>



<button class="left_date_goto_button" ng-click="setStartDate(dateB)">Season Start</button>
<button class="date_button" ng-click="subDate(dateB)"><</button><input ng-model='dateB.text' size="11" input type="text"> <button class="date_button" ng-click="addDate(dateB)">></button>
<button align="right" class="date_goto_button" ng-click="setYesterdayDate(dateB)">Yesterday's Standings</button>
<p> </p>
<p> </p>
<div id="wrapper">
   <div id="main">
      <div id="left">
         <select id="sportComboBox"
           ng-model="leagueA.text">
           <option ng-repeat="league in ['AL', 'NL']">{{league}}</option>
         </select>
         <select id="sportComboBox"
           ng-model="divA.text">
           <option ng-repeat="division in ['West', 'Central', 'East']">{{division}}</option>
         </select>
         <h1 align="center">{{leagueA.text}}  {{divA.text}}</a></h1>
         <table class="names">
            <tr>
               <th>TEAM </td>
               <th>WIN </td>
               <th>LOSS </td>
               <th>PCT</td>
               <th>GB</td>
            </tr>
            <tr ng-repeat="item in items | filter:{league: leagueA.text} | filter:{division: divA.text } | filter:{date: dateA.text} "> 
               <td>{{item.team}}</td>
               <td>{{item.wins}}</td>
               <td>{{item.losses}}</td>
               <td>{{item.pct}}</td>
               <td>{{item.GB}}</td>
            </tr>
         </table>
      </div>
      <div id="center">
         <select id="sportComboBox"
           ng-model="leagueB.text">
           <option ng-repeat="league in ['AL', 'NL']">{{league}}</option>
         </select>
         <select id="sportComboBox"
           ng-model="divB.text">
           <option ng-repeat="division in ['West', 'Central', 'East']">{{division}}</option>
         </select>
         <h1 align="center">{{leagueB.text}}  {{divB.text}}</a></h1>
         <table class="names">
            <tr>
               <th>TEAM </td>
               <th>WIN </td>
               <th>LOSS </td>
               <th>PCT </td>
               <th>GB </td>
            </tr>
            <tr ng-repeat="item in items | filter:{league: leagueB.text} | filter:{division: divB.text } | filter:{date: dateB.text} "> 
               <td>{{item.team}}</td>
               <td>{{item.wins}}</td>
               <td>{{item.losses}}</td>
               <td>{{item.pct}}</td>
               <td>{{item.GB}}</td>
            </tr>
         </table>
      </div>
   </div>
</div>
