      body {
         font-family: Arial, Helvetica, sans-serif;
      } 

      #wrapper {position: relative; 
            margin-left:145px;
            margin-top:160px;
      }
      #overmap {position: absolute; top:60px; left:17px; z-index:2; }
      #map-panel {
            position: static; 
            width:  1000px;
            height: 800px;
      }
      #right-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #topdiv { 
         position: fixed;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 color: #ffffff;
	 background-color:#666666;
	 padding: 20px;
	 height:104; 
	 z-index:3;
      }

      #sidediv { 
         position: fixed;
	 top: 144px;
	 left: 0px;
	 width: 108px;
	 color: #ffffff; 
	 background-color:#666666; 
	 padding: 20px;
	 height:100%;
	 z-index:2;
      }

